@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

body {
  background-color: #dee3e9;
  color: rgb(22, 24, 28);
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  position: relative;

  scrollbar-width: none;
}

/* BACKGROUND */
.background {
  position: absolute;
  height: 210px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  overflow: hidden;
  background-image: linear-gradient(125deg, #1f74f1 -10%, #0850b9 100%);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.background::before {
  content: "";
  background-image: linear-gradient(
    -180deg,
    rgba(0, 0, 0, 0.025) 0,
    rgba(0, 0, 0, 0.075) 99%
  );
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.background > img {
  position: absolute;
  top: -25px;
  left: 0;
  z-index: -1;
  user-select: none;

  transform: scale(1.1);
}

/* CONTAINER */
.container {
  margin: 0 12px;
  margin-top: 27px;
  margin-left: auto;
  margin-right: auto;
  height: 616px;
  width: 976px;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  border-top-right-radius: 9px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.07);
  margin-top: 40px;
  animation: intro 0.3s 0.2s backwards;
}

/* SIDEBAR */
.sidebar {
  width: 340px;
  display: flex;
  flex-direction: column;
}

.sidebar__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #e8edf0;
}

/* SORTING */
.sorting {
  display: flex;
  align-items: center;
  gap: 4px;
}

.sorting > i {
  font-size: 11px;
  color: #4c4f50;
  margin-right: 5px;
}

.sorting__button {
  font-size: 10px;
  text-transform: uppercase;
  background-color: #e8edf0;
  padding: 6px 8px;
  border-radius: 3px;
  margin-left: 2px;
  cursor: pointer;
  transition: all 0.2s;
}

.sorting__button:hover,
.sorting__button:focus {
  background-color: #d0d5d8;
}

.sorting__button--active,
.sorting__button--active:hover,
.sorting__button--active:focus {
  color: #fff;
  background-color: #3c4041;
}

/* JOB DETAILS */
.job-details {
  flex: 1;
  background-color: #eff2f5;
  position: relative;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 8px;
}

.job-details__start-view {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.job-details__start-view > p:first-child {
  opacity: 0.55;
  width: 275px;
  text-align: center;
  color: #0d1114;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.job-details__start-view > p:nth-child(2) {
  opacity: 0.55;
  color: #24292d;
  font-size: 14px;
  width: 275px;
  text-align: center;
}

.job-details > div {
  height: 100%;
}

.job-details > div > img {
  width: 100%;
  height: 174px;
  position: absolute;
  z-index: 0;
  top: 0;
  object-fit: cover;
  border-top-right-radius: 8px;
  user-select: none;
}

.job-details__other {
}

.job-details__footer {
  margin-left: 42px;
  margin-right: 42px;
  margin-top: 33px;
  padding-top: 13px;
  border-top: 1px solid #dce2e8;
}

.job-details__footer-text {
  color: #858b8f;
  font-size: 10px;
}

/* APPLY BTN */
.apply-btn {
  position: absolute;
  background-color: #2671dd;
  z-index: 2;
  color: rgba(255, 255, 255, 0.92);
  font-size: 11px;
  padding: 5px 10px 6px;
  border-radius: 3px;
  top: 12px;
  right: 12px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.2s;
  display: flex;
  align-items: center;
}

.apply-btn:hover,
.apply-btn:focus {
  background-color: #1d60bd;
  color: rgba(255, 255, 255, 1);
}

.apply-btn__icon {
  color: rgba(255, 255, 255, 0.65);
  font-size: 8px;
  margin-left: 4px;
  margin-top: -1px;
}

/* JOB INFO */
.job-info {
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
  display: flex;
  column-gap: 16px;
  padding-top: 120px;
}

.job-info::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 174px;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.15)
  );
  z-index: -1;
  /* border-top-right-radius: 8px; */
}

.job-info__left {
  padding-left: 42px;
}

.job-info__right {
  padding-right: 42px;
}

.job-info__badge {
  width: 55px;
  height: 70px;
  background-color: #d0d335;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 13px;
}

.job-info__below-badge {
  display: flex;
  justify-content: space-between;
}

.job-info__time {
  font-size: 12px;
  transform: translateY(1px);
  color: #494d4f;
}

.accept-btn {
  cursor: pointer;
}

.accept-btn:hover svg {
  color: #2671dd;
}

.accept-btn svg {
  color: #d7dbe0;
  transition: all 0.2s;
  font-size: 18px;
}

.accept-btn .filled {
  color: #2671dd;
}

.job-info__company {
  font-size: 14px;
  font-style: italic;
  color: rgba(255, 255, 255, 0.8);
}

.job-info__description {
  font-size: 14px;
  margin-top: 18px;
  margin-bottom: 12px;
  line-height: 1.4;
}

.job-info__extras {
  display: flex;
  column-gap: 35px;
}

.job-info__extra {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.job-info__extra-icon {
  height: 23px;
  width: 23px;
  border-radius: 50%;
  background-color: #e4e9ed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9px;
  margin-right: 8px;
  color: #a1a8b0;
}

/* JOB ITEM */
.job-item {
  cursor: pointer;
  transition: background-color 0.2s;
  background-color: #fff;
  /* flex: 1; */
  height: 76px;
}

.job-item:not(:nth-child(7)) {
  border-bottom: 1px solid #ebeff1;
}

.job-item:hover {
  background-color: #f4f5f7;
}

.job-item--active {
  background-color: #f4f5f7;
}

.job-item__link {
  height: 100%;
  width: 100%;
  padding: 14px 20px;
  display: flex;
}

.job-item__badge {
  font-size: 13px;
  height: 46px;
  width: 38px;
  background-color: #dee3e9;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  margin-right: 13px;
}

.job-item__middle {
}

.job-item__company {
  font-size: 13px;
  font-style: italic;
}

.job-item__extras {
  display: grid;
  grid-template-columns: 65px 72px 65px;
  column-gap: 10px;
}

.job-item__extra {
  color: #4d5054;
  font-size: 11px;
  display: flex;
  align-items: center;
  gap: 3px;
}

.job-item__extra-icon {
  color: #bec5ce;
  font-size: 10px;
  margin-right: 1px;
}

.job-item__right {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(2px) translateY(0px);
}

.job-item__right svg {
  font-size: 14px;

  cursor: pointer;
  color: #d7dbe0;
  transition: all 0.2s;
}

.job-item__right svg.filled {
  color: #2671dd;
}

.job-item__bookmark-icon--bookmarked {
  color: #2671dd;
}

.job-item__time {
  font-size: 11px;
  margin-top: 5px;
  color: #515459;
}

/* PAGINATION */
.pagination {
  height: 40px;
  /* margin-top: auto; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 1px;
  border-top: 1px solid #e8edf0;
}

.pagination__button {
  font-size: 10px;
  padding: 4px 10px;
  border-radius: 500px;
  color: #747c82;
  background-color: #eceff2;
  cursor: pointer;
  transition: all 0.2s, visibility 0s;
  gap: 2px;
  display: flex;
  align-items: center;
}

.pagination__button svg {
  width: 10px;
  transform: translateY(1px);
}

.pagination__button:hover,
.pagination__button:focus {
  background-color: #dde2e6;
}

.pagination__button--hidden {
  visibility: hidden;
}

.pagination__button--next {
  margin-left: auto;
}

.pagination__button--back .pagination__icon {
  margin-right: 3px;
}

.pagination__button--next .pagination__icon {
  margin-left: 3px;
}

.pagination__button > span {
  font-weight: 500;
}
.pagination__icon {
  font-size: 8px;
  color: #9fa6b0;
}
